*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    overflow-x: hidden;
}

#background{
    width: 100%;
    height: 100%;
    background-color: rgb(231,231,231);
}

#circle{
    position: absolute;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1.5px solid rgba(10,10,10,0.198);
}
